.message_container {
    width: 100%;
    padding: 1rem 1rem;
    background-color: #fafafa;
    margin-top: 1rem;
    border: 1px solid #eaeaea;
}


.name {
    font-size: larger;
    font-weight: bold;

}


